.review-item{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 570px;
    display: flex;
}

.review-item img{
    width: 91px;
}

.review-item-detail-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-item-details p{
    margin: 6px;
}

.orange{
    color: orange;
    font-weight: bold;
}

.delete-container button{
    height: 55px;
    width: 55px;
    cursor: pointer;
    background-color: #eb57574f;
    border-radius: 50%;
    border: none;
    color: #EB5757;
    font-size: 25px;
}

.delete-container button:hover{
    border: 3px solid #EB5757;
    font-size: 27px;
}